{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}


{% block title %}
Публикации
{% endblock title %}

<!-- В контенте на странице мы выводим новости -->
{% block content %}
 <h1>Все публикации</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3> 
    <br>
    <br>
    <a href="{% url 'posts_search' %}">Поиск публикации</a> 
    {% if news %} <!-- Если есть новости, то выводим таблицу с ними -->
    <table style="margin: auto" border = "2">
        <tr>
            <td>
                <h6> Заголовок &nbsp </h6>
            </td>
            <td>
                <h6> &nbsp Дата публикации &nbsp </h6>
            </td>
            <td>
                <h6> &nbsp Категория &nbsp </h6>
            </td>
             <td>
                <h6> &nbsp ID &nbsp </h6>
            </td>
            <td>
                <h6> &nbsp Редактирование &nbsp </h6>
            </td>
            <td>
                <h6> &nbsp Удаление &nbsp </h6>
            </td>
            <td>
                <h6> &nbsp Содержание  &nbsp </h6>
            </td>
         </tr>
        {% for news in news %} 
        <tr>
            <td>
                <a href="{% url 'post_detail' news.id %}">{{ news.title|truncatechars:64|censor }}</a> 
            </td>
            <td>
                {{ news.dateCreation|date:'d M Y' }}
            </td>
            <td>
                {{ news.categoryType }}
            </td>
            <td>
                {{ news.id }}
            </td>
            <td>
                <a href="{% url 'post_update' news.id %}"><u>Редактирование</u></a>
            </td>
            <td>
                <a href="{% url 'post_delete' news.id %}"><u>Удаление</u></a>
            </td>
            <td>
                {{ news.text|truncatechars:124|censor }} 
            </td>
        </tr>
        {% endfor %}
    </table>
        <a href="{% url 'post_create' %}">Добавить статью</a> 
        <br> 
        <a href="{% url 'news_create' %}">Добавить новость</a>
        <br>
    {% else %}
        <h1>Новостей нет!</h1>
    {% endif %}
{# Добавляем пагинацию на страницу #}

{# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
        <a href="?{% url_replace page=1 %}"><<<</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

{# Информация о текущей странице #}
   {{ page_obj.number }}

{# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">>>></a>
       {% endif %}
   {% endif %}

{% endblock content %}